.legal-content {
  :global {
    li {
      list-style: none;
      // padding-left: 20px;
    }
    .c14 {
      color: #20242D;
      font-size: 32px;
      font-family: poppins-bold;
      margin-bottom: 24px;
    }

    .c8 {
      font-size: 20px;
      font-family: poppins-bold;
      text-align: center;
      color: #735CF7;
      margin-top: 24px;  
      margin-bottom: 14px;  
    }

    .c88 {
      font-size: 20px;
      font-family: poppins-medium;
      color: #20242D;
      margin-top: 24px;  
      margin-bottom: 14px;  
    }

    .c6 {
      color: #20242D;
      font-size: 16px;
      font-family: poppins-bold;
      margin-top: 8px;
    }

    .c0 {
      margin-top: 16px;
    }

    .c7 {
      margin-top: 24px;                     
    }

    .date {
      color: #5F6C87;
      font-size: 16px;
      line-height: 74px;
      font-family: poppins-medium;
    }

    .c1 {
      color: #20242D;
      font-size: 16px;
      font-family: poppins-regular;
      margin-bottom: 16px;
      text-align: justify;
    }

    .menu-active {
      color: #735CF7;
    }

    a {
      color: #735CF7;
      text-decoration: underline;
    }

    @media screen and (max-width: 768px) {
      .c14 {
        font-size: 28px;
      }
      .c8 {
        font-size: 20px;
      }
      .c7 {
        font-size: 16px;
      }
    }
  }
}

[data-theme="dark"] {
  .legal-content {
    :global {
      .c14, .c1, .c6, c88 {
        color: #FFFFFF;
      }
      .c8 {
        color: #B998FB;
      }
      .date {
        color: #96A1B5;
      }

      a {
        color: #B998FB;
      }

      .menu-active {
        color: #B998FB;
      }
    }
  }
}