@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: poppins-bold;
  src: url(../public/assets/fonts/poppins/Poppins-Bold.otf);
}

@font-face {
  font-family: semi-poppins-bold;
  src: url(../public/assets/fonts/poppins/Poppins-SemiBold.otf);
}

@font-face {
  font-family: poppins-medium;
  src: url(../public/assets/fonts/poppins/Poppins-Medium.otf);
}

@font-face {
  font-family: poppins-thin;
  src: url(../public/assets/fonts/poppins/Poppins-Thin.otf);
}

@font-face {
  font-family: poppins-regular;
  src: url(../public/assets/fonts/poppins/Poppins-Regular.otf);
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: poppins-bold;
}

#__next {
  background: url(../public/assets/images/c-background.png), url(../public/assets/images/c-background-rotate.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 70%, 70%;
  background-position-x: 750px, -330px;
  background-position-y: 800px, 3500px;
  padding-bottom: 20px;
  overflow-x: hidden;
  transform: none, rotate(30deg);
}

@media screen and (max-width: 768px) {
  #__next  {
    background-position-x: 120px, -200px;
    background-size: 100%, 100%;
    background-position-y: 1000px, 2000px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  font-family: poppins-medium;
}

.normal-text {
  font-family: poppins-medium;
}

.thin-text {
  font-family: poppins-thin;
}

.regular-text {
  font-family: poppins-regular;
}

.bold-text {
  font-family: poppins-bold; 
}

.semi-bold-text {
  font-family: semi-poppins-bold;
}

.circle-purple {
  border-radius: 50%;
  background-color: rgba(185, 152, 251, 0.1);
}

.circle-green {
  border-radius: 50%;
  background-color: rgba(104, 213, 157, 0.1);
}

[data-theme="dark"] .circle-purple {
  background-color: #B998FB;
}
[data-theme="dark"] .circle-green {
  background-color: #69FFB2;
}


.ReactCollapse--collapse {
  transition: height 500ms;
}

.ReactCollapse--content {}

.header_Dropdown {}
