@import "./utilities/variables.scss";

.contact-right-wrapper {
  .contact-bottom-container {
    position: relative;
    display: initial;
    .hidden-layer {
      background: #3CBF7C;
      transform: rotate(-5deg);
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
    }
    
    .shown-layer {
      position: relative;
      background: #3CBF7C;
      box-shadow: -2px 5px 0px #000000;
      transform: rotate(-5deg);
      font-size: 32px;
      padding: 1px 25px;
      color: #ffffff;
      -webkit-text-stroke: 2px rgb(0, 0, 0);
      border: 1px solid #000;
      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
    }
  
    &:hover{
      .hidden-layer{
        transform: rotate(3deg);
        box-shadow: -2px 5px 0px #000000;
      }
  
      .shown-layer {
        background: #7B64FF;
      }
    }
  }

  .rau-container {
    .green {
      display: none;
    }
  }

  .contact-bottom-container:hover + .utils-wrapper {
    .green {
      display: block;
    }
  }
}

.contact-s {
  @media screen and (max-width: 768px) {
    background-image: url('../public/assets/images/purple-b.png');
    background-size: 100%;
    background-position: 0 0 0;
  }

  @media screen and (min-width: 1980px) {
    padding: 0 200px;
  }
}


.anim-button {
  position: relative;
  display: initial;
  .hidden-layer {
    background: $purple;
    transform: rotate(3deg);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
  
  .shown-layer {
    position: relative;
    transform: rotate(-5deg);
    background: $green;
    font-size: 32px;
    padding: 1px 25px;
    color: #ffffff;
    @media screen and (max-width: 768px) {
      font-size: 24px;
    }
  }

  &:hover{
    .hidden-layer{
      transform: rotate(-3deg);
    }

    .shown-layer {
      background: $green;
      transform: rotate(3deg);
    }
  }
}

.mennu-anim-button {
  position: relative;
  display: initial;
  .hidden-layer {
    background: transparent;
    transform: rotate(3deg);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
  
  .shown-layer {
    position: relative;
    font-size: 32px;
    padding: 1px 25px;
    color: #000000;
    @media screen and (max-width: 768px) {
      font-size: 24px;
    }
  }

  &:hover{
    .hidden-layer{
      background: $purple;
      transform: rotate(-7deg);
    }

    .shown-layer {
      background: $green;
      transform: rotate(5deg);
      color: #ffffff;
    }
  }
}

.spin-el {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.scrolled-header {
  position: fixed;
  width: 100%;
  background: #ffff;
  z-index: 53;
}